<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<!-- Header -->


	<div class="container">
	<%- include partials/navigation.ejs %>
	</div>






  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="panel">
          <div class="panel-body">

          <% for(var i=0; i<products.length;i++){%>
            <div class="row">
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="<%=products[i].image%>" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h4><%=products[i].name%></h4>
                <div class="row">
                  <div class="col-xs-9">
                    <!-- <h4><span class="label label-default"><%=products[i].average_customer_rating%></span></h4><h4> -->
                    <small style="font-family:courier,'new courier';" class="text-muted"><a href="/admin/temp/<%=products[i]._id%>" class="text-muted">Edit</a></small>
                    </h4></div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div>
            </div>
            <hr>
            <%}%>


          </div>
        </div>



     	</div><!--/col-12-->
    </div>
  </div>



<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
